body{
    background-color:  #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}
.players-demo{

}
.h3-title{
    color: #562EFF;
    font-size: 24px;
    /* padding-left: 30px; */
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 30px; */
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.player span{
    padding-left: 16px;
    color:#000000;
    font-size: 18px;
}
/* ----------------------
start blogs part
---------------------- */
.h3-title{
    padding-top: 30px;
}
.blog-img{
    width: 177px;
    height: 117px;
}
/* .text-title{
    display: flex;
    align-items: center;
} */
.blogs{
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    padding-bottom: 26px;
}
.blog-info{
    padding-left: 16px;
    padding-right: 20px;
    font-size: 20px;
    color: #000000;
}
.course-img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    color: #1E1E1E;
}
small{
    color: #ED6B4F;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.star{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}